
/*CORPO */
body{
    background:linear-gradient(135deg, #3e8896 0%,#4c3bd1 100%)fixed; 
    font: normal 15pt Arial;
}
p#descricao{
    margin: auto;
    width: 80%;
    margin-top: 20px;
}
section.conteudo{
    background: rgba(54, 54, 54, 1);
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin: auto; /*centralizar*/
    box-shadow: 3px 3px 10px rgba(0,0,0,363);
}
/*COLUNA 1*/
div#linha{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
div#col1{
    display: flexbox;
    justify-content: center;
    background: rgb(179, 122, 104);
    width: 400px;
}
div#estrelas{
    background: burlywood;
    font-size: 20pt;
    color: black;
    height: 40px;
    display: flex;
    flex-direction: column; /*Alinhamento vertical*/
    justify-content: flex-end; /*Alinhamento vertical*/
    text-align: center; /*Alinhamento vertical*/    
}
div#numero{
    display: flex;
    justify-content: center; 
    font-size: 40pt;
    margin-top: 20px;
}
p#texto{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 20px;
}

div#resposta{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
div#verificar{
    display: flex;
    justify-content: center;
    margin-top: 40px;

}
button#verif{
    background-color: rgb(130, 171, 248);
    border-radius: 5px; 
}
div#resultado{
    padding-top: 20px;
    text-align: center;
}
div#respostaCerta{
    text-align: center;
}
#material-dourado{
    display: flex;
    justify-content: center;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.img-centena{
    margin-right: 2px;
    height: 75px;
    width: 75px;
}
.img-dezena{
    margin-right: 5px;
    height: 100px;
    width: 20px;
}
.img-unidade{
    margin-right: 5px;
    height: 20px;
    width: 20px;
}
div#errosAcertos{
    display: flex;
    justify-content: space-between;
    font-size: 10pt;
    margin-top: 10px;
}
#erros{margin-left: 2%;}
#acertos{margin-right: 2%;}

@media(max-width:1300px){
    section.conteudo{width: 90%;}
    div#modal{width:80%;}
    div#estrelas{font-size: 15pt;height: 30px;}
    div#col1{ max-width: 340px; } 
    p#texto{font-size: 12px;}
    .imagens{height: 60px; flex-wrap: nowrap; justify-content: center;}

    .img-centena{width: 32px; height: 32px;}
    .img-dezena{width: 10px; height: 50px; margin-left: 5px; margin-right: 5px;}
    .img-unidade{width: 10px; height: 10px; margin-top: 5px; margin-left: 10px;}
    
    div#verificar{ margin-top: 10px;}
}
footer{
    color: white;
    text-align: center;
}